/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

@keyframes mooving-arrow {
  
  0% {
    inset-inline-start: -1em;
  }

  100% {
    inset-inline-start: calc(-1em + 4px);
  }
}

@keyframes is-liked-heart {

  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.5);
  }
}

@keyframes is-liked-sparks {

  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  inset-inline-start: -1em;
  animation: mooving-arrow 0.5s ease-in-out infinite alternate;
}

.like-icon.is-liked .heart {
  transition: transform 0.3s 0.1s;
  transform-origin: center;
  animation: is-liked-heart 0.3s 0.1s ease-in alternate;
}

.like-icon.is-liked .sparks {
  transition: opacity;
  animation: is-liked-sparks 0.3s 0.3s ease-in alternate;
}
