/* В этом файле будут храниться все значения переменных в исходном состоянии, 
а так же их изменения в зависимости от ширины устройства */

:root {
  --bg-color: #fff;
  --text-color: #000;

  --watermark-stroke-color: var(--bg-color, #fff);

  --button-text-color: #fff;

  --heart-contour-color: var(--text-color);
  --heart-body-color: #fff;
  --heart-core-color: #fff;
  --heart-sparks-color: #f00;

  --dialog-width: clamp(341px, 337px + 1.2vw, 353px);
  --dialog-inline-padding: clamp(30px, 44px - 1vw, 40px);

  --main-font: inter-variable;
  --accent-font: "PressStart2P";
  --main-text-weight: 400;
  --main-head-weight: 700;

  --main-width: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
  --header-hight: clamp(20.5rem, 19.6417rem + 3.662vw, 22.9375rem);
  --header-padding-top: clamp(7.5rem, 7.1rem + 1.6vw, 8.5rem);

  --watermark-inset-right: clamp(0.8125rem, 0.5125rem + 1.2vw, 1.5625rem);

  --save-floppy-size: 21px;

  --bg-strip: #d3d3d3;
  --bg-grad-start: 0.01%;
  --bg-grad-from: #e7e7e7;
  --bg-grad-to: #1a1a1a;
}
